.hero-travel{
    display:flex;
    gap:10px;
}
header{
    margin:0px 80px;
    padding:0px auto;
}
 .span{
    color:red;
}
li a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
ul{
    display:flex;
    gap:20px;
}
.header-nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}